<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="login-page">
  <div class="form">
    <h1>Welcome, <%=username%> back to the site!</h1>
    <a href="/feed/1">One</a>
    <a href="/feed/2">Two</a>
    <a href="/feed/3">Three</a>
    <a href="/feed/4">Four</a>
    <br />
    <a href="/render_statement">Render in Browser</a>
    <a href="/download_statement">Download to Computer</a>
    <p><a href="/logout">Logout</a></p>
  </div>
</div>
