<html>
  <head>
    <link href=/assets/style.css type=text/css rel=stylesheet />
  </head>
  <body>
    <h1>You are here!</h1>
    <form action="/entity" method="post">
      One: <input type="text" id="One" name="One" /> Two:
      <input type="text" id="Two" name="Two" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
