<html>
  <head>
        <title>{{title}}</title>
<link rel="icon" href="/img/icon.ico" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
<div class="content">
    {{>header}}
    <p>Discover Your Local Weather: {{forecast}} in Paris? We'll let you know! Anywhere in the world. Look it up right here.</p>
    <img class="profile" src="/img/licorice.jpg" />
        </div>
    {{>footer}}
  </body>
</html>