<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.ico" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
        <div class="content">

    {{>header}}    
    <p>Help with the Weather? {{forecast}}? We can help</p>
    </div>
    {{>footer}}
  </body>
</html>